* {
  box-sizing: border-box;
}

/* Main styles */

body {
  margin: 15px;
  padding: 0;
  font-family: Caveat;
  line-height: 1.5;
  color: rgb(79, 79, 79);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Navigation styles */



.nav {
  
  display: flex;
  background:rgb(40, 41, 41) ;

}

.logo {
 
  font-family: Roboto;
  font-size: 40px;
  text-shadow: 2px 2px 8px, rgb(206, 177, 208) ;
  padding:30px;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  height: 130px;
  background-color: rgba(163, 245, 237, 0.817);
   
}

.navItem {
  border-style:solid;
  border-bottom-color:rgba(163, 245, 237, 0.817);
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 20px;
  margin: 30px;

}


nav ul li {
  display: inline-flex;
  font-family: Roboto;
  font-size: 20px;
}


/* navigation hover styles*/

nav ul li a {
  color: rgba(163, 245, 237, 0.817);
  text-decoration:none;
  font-weight: bold;
}

nav ul li a:hover {
  color:rgb(206, 177, 208);
  transition: 2s;
}


/* The hero image */
.hero-banner {
  display: flexbox;
  background-image: url("../images/sm-hero-bg.jpg");
  opacity: 75%;
  height: 200px;

}

.hero-tag {

  font-family: Roboto;
  font-size: 50px;
  text-align: right;
  padding: 100px;
  color: rgb(79, 79, 79);
  text-shadow: 2px 2px 8px, rgb(206, 177, 208) ;
  
 
}


/* Grid Container and content */

.containerGrid {
  display: grid;
  background-color: whitesmoke;
  border-radius: 5px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: 

  "Sidebar about about about"
  "Sidebar work work work"
  "Sidebar work work work"
  "Sidebar contact contact contact"
  
}

#Sidebar {
  grid-area: Sidebar;
  background-color:aquamarine;

}

#about {
  grid-area: about;
  background-color:yellow;

}

#work {
  grid-area: work;
  background-color:rgb(232, 127, 255);

}

#contact {
  grid-area: contact;
  background-color:brown;
}


